# Практическая работа №1

### Используемые библиотеки

In [28]:
import pandas as pd
from sklearn.decomposition import PCA
from numpy.linalg import eigvals

### Глобальные переменные

### Исходные данные
`data1.csv`:
```csv
a1,a2
4,2.9
2.5,1
3.5,4
2,2.1
```
`data2.csv`:
```csv
a1,a2
8,-20
0,-1
10,-19
10,-20
2,0
```

## Задание 1

In [29]:
frame = pd.read_csv('data1.csv')
print(f"Исходный набор данных:")
frame

Исходный набор данных:

    a1   a2
0  4.0  2.9
1  2.5  1.0
2  3.5  4.0
3  2.0  2.1

In [30]:
def k(x1, x2):
    return (x1["a1"] - x2["a1"])**2 + (x1["a2"] - x2["a2"])**2

pd.DataFrame([[k(frame.loc[i], frame.loc[j]) for j in range(0, 4)] for i in range(0, 4)])

      0      1      2     3
0  0.00   5.86   1.46  4.64
1  5.86   0.00  10.00  1.46
2  1.46  10.00   0.00  5.86
3  4.64   1.46   5.86  0.00

## Задание 2

In [31]:
frame = pd.read_csv('data2.csv')
print(f"Исходный набор данных:")
frame

Исходный набор данных:

   a1  a2
0   8 -20
1   0  -1
2  10 -19
3  10 -20
4   2   0

In [32]:
trans = frame.T
pd.DataFrame(trans.mean())

     0
0 -6.0
1 -0.5
2 -4.5
3 -5.0
4  1.0

In [33]:
covariant = trans.cov()
covariant

       0     1      2      3     4
0  392.0  14.0  406.0  420.0  28.0
1   14.0   0.5   14.5   15.0   1.0
2  406.0  14.5  420.5  435.0  29.0
3  420.0  15.0  435.0  450.0  30.0
4   28.0   1.0   29.0   30.0   2.0

In [34]:
pd.DataFrame(eigvals(covariant.values))

              0
0 -1.136868e-13
1  1.265000e+03
2  3.500324e-28
3 -2.706161e-16
4  1.643584e-15

In [40]:
frame.corr()

     0    1    2    3    4
0  1.0  1.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0  1.0
2  1.0  1.0  1.0  1.0  1.0
3  1.0  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0  1.0

## Задание 3

In [36]:
pca = PCA(n_components=2)
pca.fit(frame.T)
pd.DataFrame(pca.components_)

          0         1         2         3         4
0  0.556670  0.019881  0.576551  0.596432  0.039762
1  0.044455 -0.446646  0.016465  0.017033 -0.893292

#### Медиана
##### Медиана - это число, которое находится в середине набора, если его упорядочить по возрастанию.
##### Формула:
\begin{equation}
    med(x) =
    \begin{cases}
        X_{\frac{n}{2}} & \text{если $n$ чётное} \\
        \frac{X_{\frac{n-1}{2}} - X_{\frac{n+1}{2}}}{2} & \text{если $n$ нечётное}
    \end{cases}
\end{equation}
,где $X$ - отсортированный набор значений, $n$ - количество значений в наборе.